/**
 * Customs css
 *
 * @format
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,400;1,700;1,900&display=swap");
html {
  font-family: Inter, sans-serif;
}
p,
.text-sm {
  font-family: Inter, sans-serif;
  font-size: 14px !important;
  line-height: 18px;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 18px;
  margin-bottom: 0.5rem;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 0.5rem;
}
/** Header Menu  **/

.nav-menu {
  position: relative;
  z-index: 50;
}

.header-logo > a {
  margin: 0 2px;
}

.btn-orange {
  display: flex;
  width: max-content;
  background-color: hsla(25, 99%, 46%, 1);
  color: #ffffff;
  padding: 8px 16px;
}

.btn-blue {
  margin-bottom: 2rem;
  display: inline-block;
  width: auto;
  border: 2px solid #005bac;
  background: white;
  color: #005bac;
  line-height: 1.5;
  font-size: 14px;
  padding: 0.5rem 2rem;
}

.btn-orange:hover {
  background-color: rgb(246, 104, 3);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.btn-blue:hover {
  box-shadow: 0 8px 9px -4px rgba(59, 113, 202, 0.3),
    0 4px 18px 0 rgba(59, 113, 202, 0.2);
  color: white;
  background-color: #005bac;
}

.main-menu > ul {
  list-style: none;
  margin-left: auto;
}

.main-menu > ul > li {
  border-bottom: 0.125rem solid transparent;
  padding-bottom: 0.5rem;
  margin: 1rem 0;
  width: max-content;
}

.main-menu > ul > li > a {
  padding: 0.25rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-menu > ul > li:hover,
.main-menu > ul [data-te-nav-active] {
  border-color: #005bac;
  font-weight: bold;
}

.menu-dropdown {
  position: absolute;
  z-index: 60;
  list-style: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  font-family: Inter;
  font-weight: 400;
  padding-top: 0.65rem;
  background-color: transparent;
  background-clip: padding-box;
}
.menu-dropdown [data-te-dropdown-show] {
  display: block;
}

.menu-dropdown > li {
  background-color: #ffffff;
  padding: 0.5rem 0.75rem;
  border-bottom: 0.04rem solid rgb(229 229 229);
  border-left: 0.25rem solid transparent;
}
ul.menu-dropdown [data-te-nav-active],
.menu-dropdown > li:hover {
  background-color: rgb(254, 254, 254);
  border-left: 0.25rem solid #005bac;
  border-bottom: 0.04rem solid rgb(229 229 229);
  font-weight: 600;
}

.menu-action {
  display: flex;
}

.menu-action .nav-action,
.menu-action .nav-action.active {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.menu-action .menu-mini {
  display: none;
}
/** Carousel Section **/
.carousel-section {
  position: relative;
  overflow: hidden;
}
.carousel-indicators {
  display: flex;
  position: absolute;
  bottom: 30px;
  z-index: 200;
  width: 100%;

  list-style: none;
  justify-content: center;
}
.carousel-indicators > button {
  margin: 0 3px;
  box-sizing: content-box;
  height: 3px;
  width: 30px;
  cursor: pointer;
  background-color: #ffffff;
  background-clip: padding-box;
  flex: 0 1 auto;
  border-color: transparent;
  border-top-width: 10px;
  border-bottom-width: 10px;
  text-indent: 999px;
  opacity: 0.5;
  border: 0;
  transition-duration: 600ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.carousel-items {
  position: relative;
  width: 100%;
  overflow: hidden;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.carousel-items > .item-slide {
  position: relative;
  float: left;
  width: 100%;
  margin-right: -100%;
  transition-property: opacity;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.3, 1, 1, 0.4);
}
.carousel-items .item-slide > img {
  display: block;
  width: 100%;
  min-height: 520px;
}

.carousel-items .item-slide .item-content {
  position: absolute;
  top: 30%;
  left: 10%;
}
.item-content > h1 {
  color: hsl(218, 81%, 95%);
  font-family: Inter;
  font-weight: 700;
  transition-delay: 500ms;
  animation: fade-in;
  font-size: 3.75rem; /* 48px */
  line-height: 1;
  letter-spacing: 0.0025em;
  margin: 20px 0;
}
.item-content > h1 > .h-cl {
  color: hsl(218, 81%, 75%);
}
.item-content > p {
  opacity: 0.8;
  color: hsl(218, 81%, 85%);
}
.carousel-controls {
  position: absolute;
  z-index: 24;
  top: 0;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.carousel-controls button {
  padding: 20px;
}
.box-gainer {
  position: relative;
  display: flex;
  width: 250px;
  backdrop-filter: saturate(200%) blur(25px);
  box-shadow: 0_2px_15px_-3px_rgba (0, 0, 0, 0.07),
    0_10px_20px_-2px_rgba (0, 0, 0, 0.04);
  background: hsla(0, 0%, 0%, 0.8);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gainer-content {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.highlight-gainer {
  border-bottom: 1px dashed #ffffff;
  padding-bottom: 1rem;
}
.list-gainer {
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 0.81rem;
  line-height: 1.25rem;
}

.list-gainer .grid > div:nth-child(even) {
  text-align: right;
}
.top-gainer .grid > div:nth-child(even) {
  color: #3ea344;
}

.loser-gainer .grid > div:nth-child(even) {
  color: #b82a03;
}
/** End Carousel Section **/

/** Call to Action **/
.cta-list {
  /* class="h-56 sm:px-4 md:h-32 lg:h-24 w-full bg-no-repeat bg-cover shadow hover:shadow-xl hover:opacity-90 flex items-start md:items-center flex-col md:flex-row justify-between lg:gap-2 h-full px-2 lg:px-10 py-10 md:py-0" */
  color: #ffffff;
}
.cta-list .cta-item {
  padding: 1.75rem 4rem;
  padding-right: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.cta-list .cta-item:hover {
  opacity: 0.8;
}
/** End Call to Action **/

/** Gallery Section **/
.gallery-item {
  position: relative;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/** End Gallery Section **/
/** Tabs  **/
.tab-list {
  margin-bottom: 1rem;
}
.tab-list div {
  /* class="my-2  flex border-x-0 border-b-2  pt-4 text-sm font-semibold leading-tight text-neutral-500 hover:border-blue-700 hover:border-primary hover:text-primary focus:border-primary data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary" */
  white-space: nowrap;
  border-bottom: 0.125rem solid transparent;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  color: rgb(115 115 115 / var(--tw-text-opacity));
  letter-spacing: 0.0025em;
}
.tab-list div:hover,
.tab-list [data-te-nav-active] {
  border-bottom: 0.125rem solid #005bac;
  color: #005bac;
}
/** End Tabs  **/
.bg-footer {
  background-color: #061a38;
}

.bg-hero-section {
  background-image: url("../assets/images/hero-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

li.first-shadow {
  box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);
}

.zoom:hover img {
  transform: scale(1.1);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Download List */
.download-list > div {
  background-color: #ffffff;
  border-left: 0.25rem solid #005bac;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

/* Researh Content */
.research-list .research-item {
  margin-bottom: 1rem;
  color: rgb(163 163 163 / var(--tw-text-opacity));
}
.research-item h5,
.news-content h5 {
  font-weight: 600;
  color: #262626;
  margin-bottom: 0.25rem;
}

.research-item .research-author {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 14px;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.research-list .research-item .research-content {
  margin-bottom: 0.75rem;
  line-height: 18px;
}
.research-item .research-author div:first-child {
  padding-right: 0.5rem;
  border-right: 2px solid rgb(163 163 163 / var(--tw-text-opacity));
}

.research-list .research-item .research-link {
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 4px solid rgb(229 231 235);
}
.research-item h5:hover,
.news-content h5:hover,
.research-item > a:hover {
  color: #005bac;
}
.research-item .research-link:hover {
  border-bottom-color: #005bac;
}

/* News List */
.news-list .news-item {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.news-list .news-item .news-images {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.news-list .news-item .news-images:hover {
  opacity: 0.7;
}
.news-content {
  color: rgb(115 115 115 / var(--tw-text-opacity));
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg-global-presence {
  background-image: url("../assets/images/map.png");
}

/* custom select */
.custom-select {
  position: relative;
  font-family: Arial;
}

.select-selected.select-arrow-active {
  border: 1px solid;
}
.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #f3f4f6;
}

/* form controls */
.form-controls {
  position: relative;
  margin-bottom: 0.75rem;
}

.form-controls .form-label {
  font-size: medium;
  display: block;
  margin-bottom: 0.5rem;
}

.form-controls .form-input {
  position: relative;
  margin-bottom: 0.5rem;
  display: flex;
  background: rgba(243, 244, 246, 1);
  align-items: stretch;
}

.form-controls .form-input input,
.form-controls .form-input textarea {
  /* border-transparent  leading-tight focus:outline-none focus:shadow-outline py-3" */
  display: block;
  appearance: none;
  width: 100%;
  background-color: rgba(243, 244, 246, 1);
  border: transparent;
  padding: 0.75rem 1rem;
  border-radius: 0;
  font-size: 14px;
}
.form-controls .form-input input:hover,
.form-controls .form-input input:focus,
.form-controls .form-input textarea:hover,
.form-controls .form-input textarea:focus {
  outline: 1px solid transparent;
  outline-offset: 1px;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.5);
}

.form-controls .form-check {
  position: relative;
  float: left;
  margin: 4px 6px 0px 0px;
  height: 1.125rem;
  width: 1.125rem;
  appearance: none;
  border: 0.125rem solid #005bac;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.form-controls .form-check:hover {
  cursor: pointer;
}
.form-controls .form-check::before {
  position: absolute;
  height: 0.875rem;
  width: 0.875rem;
  pointer-events: none;
  --transform-scale-x: 0;
  --transform-scale-y: 0;
  background: transparent;
  opacity: 0;
  box-shadow: 0px 0px 0px 13px transparent;
  content: " ";
}
.form-controls .form-check:checked {
  border: 0.125rem solid #005bac;
  background-color: #005bac;
}
.form-controls .form-check:checked::before {
  opacity: 0.16;
}
.form-controls .form-check:checked::after {
  position: absolute;
  margin-left: 0.25rem;
  display: block;
  padding-left: 1px;
  padding-right: 1px;
  margin-top: -1px;
  height: 0.8125rem;
  width: 0.375rem;
  rotate: 45deg;
  border: 0.125rem solid #ffffff;
  border-left: 0;
  border-top: 0;
  background-color: transparent;
  content: "";
}

.input-switch {
  margin-right: 0.2rem;
  margin-top: -0.2rem;
  height: 1.75rem;
  width: 2.75rem;
  appearance: none;
  border-radius: 1.755rem;
  background: #7e868c;
}

.input-switch::before {
  cursor: pointer;
  position: absolute;
  height: 0.85rem;
  width: 0.85rem;
  border-radius: 100%;
  background: transparent;
  content: "";
}

.input-switch::after {
  position: absolute;
  z-index: 2;
  margin-top: 0.129rem;
  margin-left: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: whitesmoke;
  box-shadow: 0 0px 3px 0 rgb(0 0 0 / 7%), 0 2px 2px 0 rgb(0 0 0 /4%);
  content: "";
  transition-property: background-color 0.2s, transform 0.2s;
}

.input-switch:checked {
  background-color: #005bac;
}
.input-switch:checked::after {
  position: absolute;
  z-index: 2;
  margin-top: 1px;
  margin-left: 1.0625rem;
  width: 1.5rem;
  border-radius: 100%;
  border: 0;
  background-color: #e6f3ffa2;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition-property: background-color 0.2s, transform 0.2s;
  content: "";
}
.form-trading {
  position: relative;
  background-color: hsla(0, 0%, 0%, 0.8);
  display: block;
  padding: 2rem 2.25rem;
  backdrop-filter: saturate(200%) blur(25px);
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07),
    0 10px 20px -2px rgba(0, 0, 0, 0.04);
}

/* Management Item */
.management-item {
  color: rgb(115 115 115 / var(--tw-text-opacity));
}
.management-item img {
  width: 100%;
  margin-bottom: 1rem;
}
.management-item h5 {
  color: #005bac;
  font-weight: 600;
  font-size: 20px;
}
.management-item div {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f078";
  top: 10px;
  right: 31px;
  width: 0;
  height: 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #7e868c transparent;
  top: 11px;
  font-family: FontAwesome;
  content: "\f077";
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  font-size: 0.875rem;
  color: #9ca3af;
  font-family: "Inter";
  padding: 12px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fcfcfd;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin-top: 3px;
  border: 1px solid #005bac;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(160, 156, 156, 0.1);
}

.same-as-selected::before {
  border-color: transparent transparent #7e868c transparent;
  top: 12px;
  font-family: FontAwesome;
  content: "\f00c";
  float: right;
}

.custom-select.select-blue > .select-selected,
.custom-select.select-blue > .select-items {
  background-color: #ffffff;
  border: 2px solid #005bac;
}
.custom-select.select-blue > .select-selected:after {
  top: 10px;
}
.custom-select.select-blue > .select-items div,
.custom-select.select-blue > .select-selected {
  color: #005bac;
  font-weight: 600;
}
.custom-select.select-blue > .same-as-selected::before {
  color: #005bac;
}

@media screen and (max-width: 1300px) and (min-width: 1023px) {
  .menu-action .nav-action {
    display: none;
  }
  .menu-action .menu-mini {
    display: block;
  }
  .menu-action .nav-action.active {
    position: absolute;
    flex-direction: column;
    top: 62px;
    right: 0px;
    background: #fff;
    padding-top: 7px;
    gap: 6px;
    margin-top: 5px;
    display: flex;
    padding-bottom: 6px;
  }
}
@media (max-width: 1024px) {
  .main-menu > ul > li {
    padding-bottom: 0;
    margin: 0.25rem 0;
    width: auto;
  }
  .main-menu > ul > li > a {
    justify-content: space-between;
    padding: 0.25rem;
  }

  .box-gainer {
    width: 100%;
    background-color: rgb(1 2 3);
  }
  .highlight-gainer {
    border: 0;
  }
  .cta-list .cta-item {
    padding: 1.75rem 1.5rem;
  }
  .menu-action .nav-action,
  .menu-action .nav-action.active {
    display: none;
  }
}

/** screen md  **/
@media (max-width: 768px) {
  .carousel-items .item-slide > img {
    min-height: auto;
  }
  .item-content > h1 {
    font-size: 2.5rem;
    margin: 10px 0;
  }

  .cta-list .cta-item {
    flex-direction: column;
    align-items: start;
    height: 100%;
  }
  .cta-list .cta-item > :first-child {
    margin-bottom: 1rem;
  }
}
/** screen sm  **/
@media (max-width: 640px) {
  .bg-global-presence {
    background-image: none;
  }
  .about-bg {
    background-image: url("../assets/images/banner-aboutus.jpg");
    background-size: cover;
    background-position: center center;
  }
  .item-content > h1 {
    font-size: 1.5rem;
  }
}

/** screen xs  **/
@media (max-width: 375px) {
  .carousel-items .item-slide .item-content {
    top: 8%;
    left: 15%;
    width: 16.25rem;
  }
  .cta-list .cta-item {
    padding: 1rem 0.5rem;
  }

  .cta-list .cta-item h3 {
    font-size: 16px;
  }
  .news-list .news-item .news-images {
    width: 100px;
    height: 100px;
  }
}
